@media (min-width: 1024px) {
}

@media (max-width: 739px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .body table {
    width: 300px;
  }
  hr {
    width: 50px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  hr {
    width: 100px;
  }
}
