@media (min-width: 1024px) {
}

@media (max-width: 739px) {
  .container {
    height: auto;
    width: auto;
    padding: 10px 80px;
  }
  .container1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    height: auto;
    width: auto;
    padding: 10px 100px;
  }
}
@media screen and (max-width: 820px) {
	.pop-up {
		top: -350px;
	}
	.form {
		flex-direction: column;
	}
	.contact-info,
	.contact-form {
		width: 100%;
	}
	.contact-info {
		padding: 10px;
	
    }
    .social-icon img{
        width: 30px;
        height: 30px;
    }
}
